__pycache__/
conjure-output/
tools/__pycache__/
ree/greee/__pycache__/
greee/__pycache__/
greee/src/__pycache__/
.DS_Store
GREEEvenv/
.vscode
gp2/Compiled
greee/gp2/Compiled
experiments/verify-converted
docs/build/doctrees
docs/build/latex
docs/build/text
greee-packaging/src/greee.egg-info
